/* Created by Kebb Marcum */
/* Do not distrubute unless with permission */
/* For permissions; */
/* Contact: Admin[at]falloutchronicle[dot]com */

body{
	background-color:#111;
	height:100%;
	width:100%;
	max-height:100%;
	max-width:100%;
	}
	
#icon-ima{
	border:none;
	width:50px;
	height:50px;
	}
#logo-ima{
	border:none;
	width:10px;
	height:2px;
	float:left;
	display:none;
	}
.left-insert{
	border:none;
	height:70%;
	width:50px;
	float:left;
	left:1px;
	top:1px;
	position:absolute;
	}
#t-insert{
	height:100%;
	width:50px;
	}
#t-td{
	height:25px;
	width:25px;
	top:1px;
	}


